html,
body {
  height: 100%;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 50px auto;
  max-width: 720px;
  padding: 20px;
}

main h1 {
  margin-bottom: 1em;
}

main p {
  margin-bottom: 1.5em;
  line-height: 1.5;
}

#hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

#hamburger::before {
  content: "☰";
}

#hamburger.open::before {
  content: "✕";
  color: white;
}

#modal {
  position: fixed;
  inset: 0;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 85%);
}

#drawer {
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: 0;
  background-color: white;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

#icons {
  position: absolute;
  top: 20px;
  left: 20px;
}

#icons ul {
  list-style: none;
  display: flex;
}

#icons li {
  margin-right: 24px;
}

#icons button {
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 50%;
  background-color: white;
  font-size: 32px;
  cursor: pointer;
}
